:root {
  --oui-font-family: 'Poppins', sans-serif;
  --oui-font-size-base: 16.5px;

  /* colors */
  --oui-color-primary: 75 125 230;
  --oui-color-primary-light: 90 145 240;
  --oui-color-primary-darken: 50 85 180;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 189 107 237;
  --oui-color-link-light: 217 152 250;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 180 180 180;
  --oui-color-quaternary: 120 120 120;

  --oui-color-danger: 255 69 123;
  --oui-color-danger-light: 255 120 160;
  --oui-color-danger-darken: 210 40 90;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 180 240 140;
  --oui-color-success-darken: 120 180 80;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 0 123 255;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 50 85 180;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 17 17 17;
  --oui-color-fill-active: 24 24 24;

  --oui-color-base-1: 42 42 42;
  --oui-color-base-2: 35 35 35;
  --oui-color-base-3: 30 30 30;
  --oui-color-base-4: 27 27 27;
  --oui-color-base-5: 23 23 23;
  --oui-color-base-6: 20 20 20;
  --oui-color-base-7: 45 44 50;
  --oui-color-base-8: 18 18 18;
  --oui-color-base-9: 15 15 15;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 60 60 60;

  --oui-color-trading-loss: 255 69 123;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 90 145 240;
  --oui-gradient-primary-end: 75 125 230;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 90 145 240;
  --oui-gradient-brand-end: 75 125 230;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 1px;
  --oui-rounded: 1px;
  --oui-rounded-md: 30px;
  --oui-rounded-lg: 1px;
  --oui-rounded-xl: 1px;
  --oui-rounded-2xl: 1px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 16.5px !important;
}

.orderly-app-container,
.orderly-app-container *,
.orderly-app-container *::before,
.orderly-app-container *::after {
  font-family: 'Poppins', sans-serif !important;
}
